.game-container {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #494949;
    width: 100%;
    height: 100%;
    color: #e6e6e6;
}

.game-outer-container {
    position: absolute;
    background-color: #494949;
    height: 120%;
    width: 100%;
}

.game-board {
    position: relative;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.playback-app {
    display: flex;
    height: 700px;
    width: 1000px;
}

.game-applet {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board__buttons {
    display: flex;
    justify-content: flex-end;
}

.game-board__button {
    font-size: 45px;
    width: 300px;
    color: white;
    background-color: #252525;
    cursor: pointer;
    border: none;
}

.game-board__button:hover {
    background-color: #2f2f2f;
}

.game-board__info {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}

.game-board__info-text {
    font-weight: 400;
}

.game-board__event-date {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
}

.game-board__event {
    font-size: 18px;
    max-width: 300px;
    color: rgba(255, 255, 255, 0.6);
}

.game-board__date {
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
}

.game-board__information {
    background-color: #262626;
    padding: 10px;
}

.game-container__previous {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #e6e6e6;
    border: none;
    height: 40px;
    width: 110px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

.game-container__next {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #e6e6e6;
    border: none;
    height: 40px;
    width: 110px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

.game-container__previous:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.game-container__next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.game-header {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.9);
}

.game-board__info-flex {
    display: flex;
    justify-content: space-between;
}

.game-board__info-gamenum {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
}

.game-board__info-num-and-loc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.game-board__info-location {
    margin-top: 6px;
}

.annotations-applet {
    background-color: rgba(0, 0, 0, 0.5);
    width: 600px;
    height: 667px;
    margin-top: 110px;
}

.game-history {
    width: 100%;
    height: 108px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 12px;
}

.annotation-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
}

.annotation-current-move {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 30px;
}

.moves-list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.moves-list-move {
    color:rgba(255, 255, 255, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 5px;
}

.moves-list-final {
    color: white;
    font-weight: bold;
}