.game-container {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #494949;
    width: 100%;
    height: 100%;
    color: #e6e6e6;
}

.game-outer-container {
    position: absolute;
    background-color: #494949;
    height: 300%;
    width: 100%;
}

.game-board {
    position: relative;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.game-applet {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board__buttons {
    display: flex;
    justify-content: flex-end;
}

.game-board__button {
    font-size: 45px;
    width: 300px;
    color: white;
    background-color: #252525;
    cursor: pointer;
    border: none;
}

.game-board__button:hover {
    background-color: #2f2f2f;
}

.game-board__info {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 600;
}

.game-board__info-text {
    font-weight: 400;
}

.game-board__event-date {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
}

.game-board__event {
    font-size: 24px;
    color: white;
}

.game-board__date {
    color: #e6e6e7;
    margin-top: 3px;
}

.game-board__information {
    background-color: #262626;
    padding: 10px;
}

.game-container__previous {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #e6e6e6;
    border: none;
    height: 40px;
    width: 110px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

.game-container__next {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #e6e6e6;
    border: none;
    height: 40px;
    width: 110px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

.game-container__previous:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.game-container__next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.game-header {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 30px;
}