/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

html, body {
    min-height: 100%;
}

#root {
    height: auto;
}
