.splash-container {
    position: absolute;
    height: calc(100% - 60px);
    width: 100%;
    background-image: url('../../../assets/images/chess-background.jpg');
}

.splash-message {
    position: absolute;
    color: white;
    font-size: 45px;
    max-width: 1000px;
    top: 50%;
    padding-bottom: 150px;
    left: 50px;
    transform: translateY(-50%);
}

.splash-message-2 {
    position: absolute;
    color: white;
    font-size: 45px;
    max-width: 1000px;
    top: 50%;
    margin-top: 100px;
    left: 50px;
    transform: translateY(-50%);
}

.splash-logo {
    position: fixed;
}

.splash-footer {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    margin-top: 250px;
    font-size: 24px;
    color: white;
}

.github-container {
    margin-left: 15px;
    font-size: 34px;
    cursor: pointer;
    color: white;
}

.linkedin-container {
    position: relative;
    color: rgb(6, 6, 175);
    margin-left: 15px;
    font-size: 36px;
    top: 2px;
}