.collection-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: calc(100% - 50px);
}

.collection-banner {
    position: relative;
    height: 100%;
    width: 85%;
}

.collection-content__crud {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 10px;
}

.collection-banner-image {
    width: 100%;
    height: 100%;
}

.collection-content {
    position: relative;
    padding-top: 35px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 30px;
}

.collection-content__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    padding-left: 30px;
}

.collection-content__title {
    font-size: 30px;
    font-weight: 600px;
}

.collection-content__body {
    display: flex;
    margin-top: 20px;
    padding-left: 30px;
}

.collection-content__body-description {
    font-size: 20px;
    white-space: pre-wrap;
    max-width: 900px;
}

.collection-content__edit {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 28px;
    margin-right: 10px;
}

.collection-content__delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 28px;
    margin-right: 10px;
}

.collection-content__form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collection-content__form-back {
    background-color: salmon;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    width: 125px;
    height: 35px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
}

.collection-content__form-or {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 5px;
}

.collection-banner__change {
    position: absolute;
    top: 50%;
    right: 50%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    font-size: 50px;
    padding: 15px;
    border-radius: 50%;
}

.collection-banner__change:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.collection-content__pretext {
    display: flex;
    max-width: 900px;
    justify-content: space-between;
    padding-left: 40px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color:rgba(0, 0, 0, 0.7);
}

.collection-content__num-games {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    padding-right: 20px;
}

.collection-games-tab-button {
    position: relative;
    bottom: 5px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    color: cornflowerblue;
    font-weight: bold;
}

.collection-games-tab-button:hover {
    color: rgba(0, 50, 255, 1);
}

.collection-content__games {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection-content__games-header {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    font-size: 24px;
    max-width: 650px;
}

.collection-content__games-table__container {
    display: flex;
    justify-content: center;
    max-width: 800px;
    width: 800px;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
}

.game-table-header {
    width: 150px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.game-table-cell {
    font-size: 12px;
    justify-self: center;
    padding: 2px;
}

@media screen and (min-width: 1920px) {
    .collection-content__games-table__container {
        min-width: 1000px;
    }

    .game-table-header {
        width: 190px;
    }

    .game-table-cell {
        font-size: 14px;
    }
}

@media screen and (max-width: 1535px) {
    .collection-content__games-table__container {
        width: 650px;
    }

    .game-table-header {
        width: 115px;
    }
}

.game-table-number {
    max-width: 30px;
}

.game-table-trash {
    padding-left: 15px;
    font-size: 18px;
    cursor: pointer;
}

.collection-content__games-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.collection-content__games-add-button {
    border: none;
    background-color: cornflowerblue;
    color: white;
    padding: 5px;
    font-weight: bold;
    width: 150px;
    height: 35px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.game-table-cell__carrot {
    cursor: pointer;
}

.game-table-cell__number {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.collection-content__games-back {
    position: relative;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 35px;
    border: none;
    background-color: #252525;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.collection-games__start {
    position: relative;
    background-color: #252525;
    width: 200px;
    height: 35px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    bottom: 5px;
    transition: background-color 0.25s;
    border-radius: 5px;
}

.collection-games__start:hover {
    background-color:rgba(0, 0, 0, 0.75);
}

.collection-content__footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.collection-content__games-errors {
    margin-bottom: 10px;
    color: red;
}